<%- include ('../partial/header') %>
 
        <!-- Main Sidebar -->
        <%- include ('../partial/sidebar') %>
        <!-- End Main Sidebar -->
        <%- include ('../partial/navbar') %>
        <div class="error-message">
            <% if(message) { %>
                <% if(message.err) { %>
                <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><i class="fa fa-check mx-2"></i><strong>Error!</strong> <%= message.err %> </div>
                <% } %>
                <% } %>
        </div>
        <div class="success-message">
            <% if(message) { %>
                <% if(message.success) { %>
                <div class="alert alert-success alert-dismissible fade show mb-0" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><i class="fa fa-check mx-2"></i><strong>Success!</strong> <%= message.success %> </div>
                <% } %>
                <% } %>
        </div>
        

  <div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Overview</span>
        <h3 class="page-title">User Profile</h3>
      </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-small mb-4 pt-3">
          <div class="card-header border-bottom text-center">
            <div class="mb-3 mx-auto">
              <img class="rounded-circle" src="/backend/images/avatars/<%= user.pimage %>"  alt="User Avatar" width="110"> </div>

            <h4 class="mb-0"><%- user.name -%></h4>
            <span class="text-muted d-block mb-2"><%- user.title -%></span>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-4">
              <strong class="text-muted d-block mb-2">Bio</strong>
              <span><%- user.bio -%></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card card-small mb-4">
          <div class="card-header border-bottom">
            <h6 class="m-0">Change Password</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-3">
              <div class="row">
                <div class="col">
                  <form id="updatePassword" name="updatePassword" method="post" action="/dashboard/profile/changepassword">
                    <input type="hidden" class="form-control" name="id" id="id" placeholder="Full Name" value="<%- user.id -%>">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="old_password">Old Password</label>
                        <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old Password" required > </div>
                   </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="new_password">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" required> </div>
                        </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="new_password">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm New Password" required> </div>
                    </div>
                
                <div class="form-row">
                  <button type="submit" class="btn btn-accent">Update Password</button>
                </div>
              </div>
            </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Default Light Table -->
  </div>
  <%- include ('../partial/footer') %>