<%- include ('../partial/header') %>

            <!-----------Slider Section----------------->
            <section class="tv-slider-section">
                <div class="swiper-container tv-featured-blog-slider">
                    <div class="swiper-wrapper">
                        <% if(uposts){ %>
                            <% for(var i=0; i < uposts.length; i++) { %>
                        <div class="swiper-slide">
                            <div class="tv-featured-post-image">
                                <img src="backend/images/post/<%= uposts[i].post_thumbnail %>" alt="post-image">
                                <div class="tv-overlay-light-dark"></div>
                            </div>
                            <div class="tv-featured-content-wrapper">
                                <div class="post-categories">
                                    <%  var cat=uposts[i].category.split(',') %>
                                     <% for(var j=0; j < cat.length; j++) { %>
                                    <a href="/cat/<%= cat[j].split('-')[1] %>"><%= cat[j].split('-')[0] %></a>
                                    <% } %>
                                </div>
                                <div class="tv-featured-content-title">
                                    <h2 class="tv-white-text"><a href="/post/<%= uposts[i].id %>"><%= uposts[i].post_title %></a></h2>
                                </div>
                                <div class="tv-featured-posted-date">
                                    <span class="posted-date"><%= moment(uposts[i].created_at).format('DD MMMM, YYYY') %></span>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% } %>
                       
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </section>
            <!-----------End----------------->

            <!-----------Author Blog----------------->
            <section class="tv-author-block tv-section-padding">
                <div class="container">
                    <div class="tv-heading-section">
                        <div class="tv-heading-title">
                            <h2>Authors Pick</h2>
                        </div>
                        <div class="tv-seperator-content">
                            <div class="tv-seperator-line"></div>
                        </div>
                    </div>
                    <div class="row">

                        <% if(uposts){ %>
                            <% for(var i=0; i < 3; i++) { %>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <article class="author-blog">
                                <div class="post-thumnail">
                                    <div class="post-thumnail-box">
                                        <div class="post-image" style="background-image: url('backend/images/post/<%= uposts[i].post_thumbnail %>')"></div>
                                    </div>
                                    <a class="tv-post-overlay" href="/post/<%= uposts[i].id %>">
                                        <i class="ti-exchange-vertical"></i>
                                    </a>
                                </div>
                                <div class="post-extra-details">
                                    <div class="post-categories">
                                        <%  var cat=uposts[i].category.split(',') %>
                                         <% for(var j=0; j < cat.length; j++) { %>
                                            <a href="/cat/<%= cat[j].split('-')[1] %>"><%= cat[j].split('-')[0] %></a>
                                        <% } %>
                                    </div>
                                    <div class="post-title">
                                        <h4><a href="/post/<%= uposts[i].id %>"><%= uposts[i].post_title %></a></h4>
                                    </div>
                                    <div class="post-meta">
                                        <span class="posts-date">
                                            <i class="ti-calendar"></i><%= moment(uposts[i].created_at).format('DD MMMM, YYYY') %></span>
                                        <span class="comment-count"><a href=""><i class="ti-comments-smiley"></i>0</a></span>
                                        <span class="post-author"><a href=""><%= uposts[i].name %></a></span>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <% } %>
                        <% } %>
          
                    </div>
                </div>
            </section>
            <!-----------End----------------->

            <!-----------Middle content----------------->
            <section class="tv-content-container tv-section-padding">
                <div class="container">
                    <div class="row">
                        <!-----------Latest Blog----------------->
                        <div class="col-xl-8 col-lg-8 col-md-12 order-xl-1 order-lg-1 order-2">
                            <div class="tv-heading-section tv-offspace-bottom-40">
                                <div class="tv-heading-title">
                                    <h2>Latest posts</h2>
                                </div>
                                <div class="tv-seperator-content">
                                    <div class="tv-seperator-line"></div>
                                </div>
                            </div>
                            <% if(uposts){ %>
                                <% for(var i=0; i < 4; i++) { %>
                            <article class="tv-post-item">
                                <div class="tv-post-wrapper">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="post-thumnail">
                                                <div class="post-thumnail-box">
                                                    <div class="post-image" style="background-image: url('backend/images/post/<%= uposts[i].post_thumbnail %>')"></div>
                                                </div>
                                                <a class="tv-post-overlay" href="/post/<%= uposts[i].id %>">
                                                    <i class="ti-exchange-vertical"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 tv-post-section-right">
                                            <div class="post-extra-details">
                                                <div class="post-categories">
                                                    <%  var cat=uposts[i].category.split(',') %>
                                                    <% for(var j=0; j < cat.length; j++) { %>
                                                       <a href="/cat/<%= cat[j].split('-')[1] %>"><%= cat[j].split('-')[0] %></a>
                                                   <% } %>

                                                </div>
                                                <div class="post-title">
                                                    <h2><a href="/post/<%= uposts[i].id %>"><%= uposts[i].post_title %></a></h2>
                                                </div>
                                                <div class="post-content">
                                                    <p><%- uposts[i].post_content.substr(0,400) %>...</p>
                                                </div>
                                                <div class="post-meta">
                                                    <span class="posts-date">
                                                        <i class="ti-calendar"></i><%= moment(uposts[i].created_at).format('DD MMMM, YYYY') %></span>
                                                    <span class="comment-count"><a href=""><i class="ti-comments-smiley"></i>0</a></span>
                                                    <span class="post-author"><a href=""><%= uposts[i].name %></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <% } %>
                            <% } %>
              
                           </div>
                        <!-----------End----------------->

                        <!-----------Right Sidebar----------------->
                        <div class="col-xl-4 col-lg-4 col-md-12 order-1 tv-right-sidebar" id="sidebar">
                            <div class="tv-sidebar-container">
                               
                               
                                <div class="tv-widget tv-widget-category">
                                    <div class="tv-heading-section">
                                        <div class="tv-heading-title">
                                            <h3>Category</h3>
                                        </div>
                                        <div class="tv-seperator-content">
                                            <div class="tv-seperator-line"></div>
                                        </div>
                                    </div>
                                    <div class="tv-widget-category-box">
                                        <ul class="tv-widget-category-list">
                                            <% if(categories){ %>
                                                <% for(var i=0; i < categories.length; i++) { %>

                                            <li><a href="/cat/<%= categories[i].id %>"><%= categories[i].title %> <span class="count"><%= categories[i].count %></span></a></li>
                                            <% } %>
                                        <% } %>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tv-widget tv-widget-image">
                                    <a href=""><img src="frontend/images/adv1.png" class="img-fluid" alt="custom-image"></a>
                                </div>
                                <div class="tv-widget tv-widget-subscribe">
                                    <div class="tv-heading-section">
                                        <div class="tv-heading-title">
                                            <h3>Subscribe Now</h3>
                                        </div>
                                        <div class="tv-seperator-content">
                                            <div class="tv-seperator-line"></div>
                                        </div>
                                    </div>
                                    <div class="tv-widget-subscribe-box">
                                        <form class="tv-widget-subscribe-form">
                                            <div class="tv-widget-subscribe-form-fields">
                                                <p>
                                                    <input name="EMAIL" placeholder="Your email address" required="" type="email">
                                                    <input value="Sign up" type="submit">
                                                </p>
                                            </div>
                                        </form>
                                        <p class="tv-widget-subscribe-description">* Nullam luctus mauris luctus lacus facilisis accumsan lectus sagittis maximus nunc sit amet!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-----------End----------------->
                    </div>
                </div>
            </section>
            <!-----------End----------------->

            <!-----------Insta Section----------------->
            <section class="instagram-section tv-section-padding">
                <div id="tv-grid" class="tv-grid tv-grid-size-2 tv-set-insta-icon">
                    <ul>
                        <li><a href="#"><img src="frontend/images/insta/insta1.jpg"/>
                            <span class="tv-insta-overlay">
                               <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                                </a>
                        </li>
                        <li><a href="#"><img src="frontend/images/insta/insta2.jpg"/></a> 
                            <span class="tv-insta-overlay">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li><a href="#"><img src="frontend/images/insta/insta3.jpg"/></a>
                            <span class="tv-insta-overlay">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li><a href="#"><img src="frontend/images/insta/insta4.jpg"/></a>
                            <span class="tv-insta-overlay">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li><a href="#"><img src="frontend/images/insta/insta5.jpg"/></a>
                            <span class="tv-insta-overlay">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li><a href="#"><img src="frontend/images/insta/insta6.jpg"/></a>
                            <span class="tv-insta-overlay">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li><a href="#"><img src="frontend/images/insta/insta7.jpg"/></a>
                            <span class="tv-insta-overlay">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li><a href="#"><img src="frontend/images/insta/insta8.jpg"/></a>
                            <span class="tv-insta-overlay">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li><a href="#"><img src="frontend/images/insta/insta9.jpg"/></a>
                            <span class="tv-insta-overlay">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li><a href="#"><img src="frontend/images/insta/insta10.jpg"/></a>
                            <span class="tv-insta-overlay">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li><a href="#"><img src="frontend/images/insta/insta11.jpg"/></a>
                            <span class="tv-insta-overlay">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
            <!-----------End----------------->

  <%- include ('../partial/footer') %>
